body {
    background-size: cover;
    background-image: linear-gradient(180.61deg, #142d44 60%, #0c233a 80%);
    margin: 0; /* Remove a margem padrão */
    padding: 0; /* Remove o padding */
    min-height: 100vh; /* Garante que o body ocupe pelo menos a altura da tela */
    overflow-x: hidden; /* Remove a rolagem horizontal se houver */
    overflow-y: auto; /* Permite rolagem vertical se o conteúdo exceder a altura da tela */
    margin-bottom: 10%;
}


h2 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select,
option {
    font-size: 18px;
    padding: 0 1em;
    margin-bottom: 1em;
    background: #142d44;
}

select {
    border-radius: 24px;
    border: none;
    outline: none;
    width: 10%;
}

.ficha-descricao {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 70%, rgba(0,0,0,0.5) 100%);
}

.ficha-descricao img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
}

.ficha-descricao > div {
    position: relative; /* Garante que o texto seja posicionado sobre a imagem */
    z-index: 2; /* Garante que o texto fique acima da imagem */
    padding: 2em; /* Ajusta o espaço interno conforme necessário */
    color: #fff; /* Define a cor do texto para garantir que seja visível sobre a imagem */
    text-align: start; /* Centraliza o texto */
    top: 30%;
    max-width: 100%; /* Garante que o texto não exceda a largura da tela */
}

.main-container {
    padding: 1em; /* Ajusta o padding conforme necessário */
    overflow-y: auto; /* Permite rolagem vertical */
}

.temporada-sub {
    margin-left: 5%;
}

.dropdown-select {
    width: 12%;
    margin-left: 5%;
    padding: 6px 8px 6px 10px;
    height: 50px;
    line-height: 20px;
    font-size: 16px;
    color: gainsboro;
    text-shadow: 0 1px white;
    background: rgba(149, 166, 240, 0.358);
    border-radius: 8px;
}

.episodios-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-auto-rows: auto; /* Altura automática para as linhas */
    gap: 1em;
    list-style-type: none;
    margin-left: 5%;
}

.episodios-lista li {
    /* Cada item ocupará um espaço normal, ordenando de 5 em 5 por coluna */
    grid-column: auto;
    grid-row: auto;
}

@media screen and (max-width: 900px) {

    .ficha-descricao,
    .episodios-lista {
        display: block;
    }
}