body {
    background-size: cover;
    background-image: linear-gradient(180.61deg, #142d44f6 60%,  #1c3e60f7 80%);
    padding: 5em;
    height: 100%;
    min-height: 100vh;
}


h2 {
    font-size: 48px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

select,
option {
    font-size: 18px;
    padding: 0 1em;
    margin-bottom: 1em;
    background: #142d44;
}

select {
    border-radius: 24px;
    border: none;
    outline: none;
    width: 10%;
}

.ficha img {
    margin: 0 3em 2em 0;
}

.ficha-descricao {
    display: flex;
}

.ficha-descricao div {
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.dropdown-select {
    width: 12%;
    padding: 6px 8px 6px 10px;
    height: 50px;
    line-height: 20px;
    font-size: 16px;
    color: gainsboro;
    text-shadow: 0 1px white;
    background: rgba(149, 166, 240, 0.358);
    border-radius: 8px;
}

.episodios-lista {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 colunas */
    grid-auto-rows: auto; /* Altura automática para as linhas */
    gap: 1em;
    list-style-type: none;
    margin-left: 5%;
}

.episodios-lista li {
    /* Cada item ocupará um espaço normal, ordenando de 5 em 5 por coluna */
    grid-column: auto;
    grid-row: auto;
}

@media screen and (max-width: 900px) {

    .ficha-descricao,
    .episodios-lista {
        display: block;
    }
}