body {
    background: linear-gradient(180.61deg,
            #000000 25.16%,
            #04254f 80%,
            #409ecd 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    display: none;
}

.hidden {
    display: none;
}

select,
option {
    background-color: black;
    color: white;
    font-size: 24px;
    padding: 0 1em;
}

select {
    border: none;
    outline: none;
}

h2 {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    margin-bottom: 10px;
    margin-top: 20px;
}

main {
    padding: 0 8em;
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 1em 3em;
}

.cabecalho__logo {
    display: flex;
    gap: 1em;
}

.cabecalho__logo img {
    width: 150px;
    height: 50px;
}

.material-symbols-outlined {
    color: white;
    font-size: 48px;
}

.carrossel-inicial {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.carrossel-inicial-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 70px;
}

.carrossel-inicial-slides {
    display: flex;
    transition: transform 0.9s ease; /* Aumenta o tempo da transição para torná-la mais suave */
    width: 80%;
    gap: 20px; /* Adiciona espaço entre as imagens */
    will-change: transform; /* Indica ao navegador que a transformação será animada */
}

.carrossel-inicial-slides img {
    width: calc(100% - 20px);
    height: 50%;
    object-fit: cover;
    border-radius: 10px;
    transition: transform 0.6s ease, outline 0.6s ease;
    outline: 2px solid transparent; /* Inicialmente invisível */
    outline-offset: -2px; /* Ajusta o espaço da borda para não interferir na imagem */
}

.carrossel-inicial-slides img:hover {
    transform: scale(1.1) translateY(-10px); /* Aumenta o zoom e move a imagem para cima */
    outline: 2px solid white; /* Torna a borda visível ao passar o mouse */
    margin: -20px;
}

.blur {
    filter: blur(5px); /* Aplica um desfoque de 5px */
    transition: filter 0.5s ease; /* Suaviza a transição do desfoque */
}

/* Estilos para os botões de navegação reutilizados */
.carrossel-inicial-container button {
    background-color: transparent;
    color: white;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 5px;
    font-size: 24px;
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.carrossel-inicial-container #prev {
    left: 5px;
}

.carrossel-inicial-container #next {
    right: 5px;
}

.carrossel-inicial-container:hover #prev,
.carrossel-inicial-container:hover #next {
    opacity: 1;
}

.carrossel-inicial-container button:hover {
    background-color: transparent;
}

.carrossel {
    position: relative;
    overflow: hidden; /* Garante que as imagens que saem da tela não sejam visíveis */
}

.lista {
    list-style-type: none;
    display: flex;
    justify-content: center; /* Alinha as imagens à esquerda */
    margin: 0; /* Remove a margem */
    padding: 0; /* Remove o preenchimento */
    transition: transform 0.3s ease; /* Adiciona transição ao carrossel */
    gap: 35px;
}

.lista li {
    flex: 0 0 auto; /* Impede que a lista se expanda além do tamanho do conteúdo */
    margin-right: 3px; /* Ajuste o espaço entre as imagens */
}

.lista li:last-child {
    margin-right: 0; /* Remove a margem da última imagem */
}

.lista li img {
    width: 290px; /* Você pode ajustar a largura aqui */
    height: 400px;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.lista li img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

button {
    background-color: transparent; /* Muda para fundo transparente */
    color: white;
    border: none;
    padding: 0; /* Remove o padding para o botão ficar do tamanho do ícone */
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border-radius: 5px;
    font-size: 24px; /* Ajusta o tamanho do ícone */
    width: 40px; /* Ajusta a largura do botão para ser menor */
    height: 40px; /* Ajusta a altura do botão para ser menor */
    opacity: 0; /* Inicia invisível */
    transition: opacity 0.3s ease; /* Transição suave para a opacidade */
}

#prev {
    left: 5px; /* Diminui a margem da seta à esquerda */
}

#next {
    right: 5px; /* Diminui a margem da seta à direita */
}

.carrossel:hover #prev,
.carrossel:hover #next {
    opacity: 1; /* Torna visíveis quando o mouse está sobre a carrossel */
}

button:hover {
    background-color: transparent; /* Remove qualquer fundo ao passar o mouse */
}

.pesquisa {
    min-height: 100vh;
}

@media screen and (max-width: 1600px) {
    .lista {
        overflow: hidden;
    }
}
